PORT=3007
MONGO_URI=mongodb://localhost:27017/veridex-notifications
KAFKA_BROKER=localhost:9092

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_user
SMTP_PASS=your_pass
SMTP_FROM=no-reply@veridex.com
